.divLanding{
    background-image: url('../img/Referencia\ Home-01.jpg');
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}
 
.Btniniciar{
    top: 15px;
    height: 410px;
    width: 770px;
    background-color: transparent;
    border-color: transparent; 
    cursor: pointer;
    
} 
