#layer0{
    background-image: URL('../img/Home-01.jpg');
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
}

#layer1{
    background-image: URL('../img/Pagina\ 02.jpg');
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
}

#layer2{
    background-image: URL('../img/Pagina\ 03.jpg');
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
}


#layer3{
    background-image: URL('../img/pagina\ 04.jpg');
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
}

#layer4{
    background-image: URL('../img/Pagina\ 05.jpg');
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
}

#Buttonmusica{
    width: 90px;
   height: 90px;
   border-radius: 100px;
   background-color: transparent;
   color: transparent;
   cursor: pointer;
}

.buttonsmedias{
    width: 350px;
    height: 90px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: -490px;
    margin-bottom: 300px;
}

.Buttonmedia{
    margin-top: 30px;
    width: 80px;
    height: 30px;
    border-color: red;
    background-color: transparent;
    border-radius: 100px;
    color: red;
    cursor: pointer;
}

