#layer0{
    background-image: URL('../img/Home-01.jpg');
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#layer1{
    background-image: URL('../img/Pagina\ 02\ .jpg');
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 1600px 900px;
}

#layer2{
    background-image: URL('../img/Pagina\ 03.jpg');
    height: 100vh;
    background-size: 1600px 900px;
    background-repeat: no-repeat;
    background-position: center;
}


#layer3{
    background-image: URL('../img/Pagina04.jpg');
    height: 100vh;
    background-size: 1600px 900px;
    background-repeat: no-repeat;
    background-position: center;
}


#layer4{
    background-image: URL('../img/Pagina\ 05.jpg');
    height: 100vh;
    background-size: 1600px 900px;
    background-repeat: no-repeat;
    background-position: center;
}


#layer5{
    background-image: URL('../img/Pagina\ 06.jpg');
    height: 100vh;
    background-size: 1600px 900px;
    background-repeat: no-repeat;
    background-position: center;
}

#layer6{
    background-image: URL('../img/Pagina\ 07.jpg');
    height: 100vh;
    background-size: 1600px 900px;
    background-repeat: no-repeat;
    background-position: center;
}

#scene-color{
    background-color: black;
}

#Buttonmusica{
    width: 110px;
    height: 110px;
    border-radius: 100px;
    background-color: transparent;
    color: transparent;
    cursor: pointer;
    border-color: transparent;
}

.imgscroll{
    width: 120px;
    position: absolute;
    top: 80%;
}

.imgscroll2{
    width: 120px;
    position: absolute;
    top: 65%;
    left: 46.7%;
}

.buttonsmedias11{
    /* width: 350px;
    height: 90px; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    position:absolute;
    left: 42em;
    top: 13em;
}

.buttonsmedias12{
    /* width: 350px;
    height: 90px; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    position:absolute;
    left: 37em;
    top: 26em;
    
}

.buttonsmedias13{
    /* width: 350px;
    height: 90px; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    position:absolute;
    top: 13em;
    right: 43em;
    
}

.buttonsmedias14{
    /* width: 350px;
    height: 90px; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    position:absolute;
    top: 26em;
    right: 38em;
    
}

.buttonsmedias15{
    /* width: 350px;
    height: 90px; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    position:absolute;
    top: 39em;
    right: 42em;
    
}

.buttonsmedias16{
    /* width: 350px;
    height: 90px; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    position:absolute;
    top: 39em;
    left: 42em;
    
}

.buttonsmedias17{
    /* width: 350px;
    height: 90px; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    position:absolute;
    top: 45em;
    left: 56.4em;
    
}

.buttonsmedias18{
    /* width: 350px;
    height: 90px; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    position:absolute;
    top: 7.5em;
    left: 56.4em;
    
}

.buttonsmedias21{
    /* width: 350px;
    height: 90px; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    position:absolute;
    top: 8em;
    left: 49em;
    
}

.buttonsmedias22{
    /* width: 350px;
    height: 90px; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    position:absolute;
    top: 22em;
    left: 37em;
    
}

.buttonsmedias23{
    /* width: 350px;
    height: 90px; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    position:absolute;
    top: 41em;
    left: 45em;
    
}

.buttonsmedias24{
    /* width: 350px;
    height: 90px; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    position:absolute;
    top: 42em;
    right: 47em;
    
}

.buttonsmedias25{
    /* width: 350px;
    height: 90px; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    position:absolute;
    top: 26em;
    right: 38em;
    
}

.buttonsmedias26{
    /* width: 350px;
    height: 90px; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    position:absolute;
    top: 12em;
    right: 43em;
    
}

.buttonsmedias31{
    /* width: 350px;
    height: 90px; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    position:absolute;
    top: 7em;
    left: 56em;
    
}

.buttonsmedias32{
    /* width: 350px;
    height: 90px; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    position:absolute;
    top: 17em;
    left: 39em;
    
}

.buttonsmedias33{
    /* width: 350px;
    height: 90px; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    position:absolute;
    top: 37.5em;
    left: 41em;
    
}

.buttonsmedias34{
    /* width: 350px;
    height: 90px; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    position:absolute;
    top: 44em;
    right: 52em;
    
}

.buttonsmedias35{
    /* width: 350px;
    height: 90px; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    position:absolute;
    top: 17em;
    right: 39em;
    
}

.buttonsmedias36{
    /* width: 350px;
    height: 90px; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    position:absolute;
    top: 34em;
    right: 40em;
    
}

.buttonsmedias41{
    /* width: 350px;
    height: 90px; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    position:absolute;
    top: 7em;
    left: 56em;
    
}

.buttonsmedias42{
    /* width: 350px;
    height: 90px; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    position:absolute;
    top: 22em;
    left: 37em;
    
}

.buttonsmedias43{
    /* width: 350px;
    height: 90px; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    position:absolute;
    top: 41em;
    left: 45em;
    
}

.buttonsmedias44{
    /* width: 350px;
    height: 90px; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    position:absolute;
    top: 40em;
    right: 44em;
    
}

.buttonsmedias45{
    /* width: 350px;
    height: 90px; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    position:absolute;
    top: 20em;
    right: 39em;
    
}

.buttonsmedias51{
    /* width: 350px;
    height: 90px; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    position:absolute;
    top: 9em;
    left: 48em;
    
}

.buttonsmedias52{
    /* width: 350px;
    height: 90px; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    position:absolute;
    top: 28em;
    left: 37em;
    
}

.buttonsmedias53{
    /* width: 350px;
    height: 90px; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    position:absolute;
    top: 45em;
    left: 58em;
    
}

.buttonsmedias54{
    /* width: 350px;
    height: 90px; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    position:absolute;
    top: 33em;
    right: 38em;
    
}

.buttonsmedias55{
    /* width: 350px;
    height: 90px; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    position:absolute;
    top: 12em;
    right: 44em;
    
}

.Buttonmedia{
    margin-top: 30px;
    width: 80px;
    height: 30px;
    border-color: red;
    background-color: transparent;
    border-radius: 100px;
    color: red;
    cursor: pointer;
}

.linktoform{
    margin-top: 17em;
    width: 250px;
    height: 60px;
    border-radius: 30px;
    background-color: transparent;
    color: transparent;
    border-color: transparent;
    cursor: pointer;
}

.divlayer4{
    width: auto;
    height: 40px;
    margin-bottom: 180px;
}

