#layer1{
    background-image: URL('https://www.xtrafondos.com/descargar.php?id=3339&resolucion=2560x1440');
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
}

#layer2{
    background-image: URL('https://fondosmil.com/fondo/45718.jpg');
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
}


#layer3{
    background-image: URL('https://www.xtrafondos.com/wallpapers/estrellas-de-la-via-lactea-4047.jpg');
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
}

#layer4{
    background-image: URL('https://fondosmil.com/fondo/8516.jpg');
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
}

#Buttonmusica{
   margin: 20px;
   width: 100px;
   height: 40px;
   border-radius: 30px;
   background-color: black;
   color: white;
}

#Buttonmusica:hover{
    background-color: white;
    color: black;
}